@using Contentful.Core.Models;

@model ContentfulCollection<BlogPost>;

@{
    ViewData["Title"] = "Home Page";
    var postList = Model.Items.ToArray();
    double numPreviewsPerPage = 10;
    var numPages = Math.Ceiling((double)Model.Total/numPreviewsPerPage);
    Console.Write("Number of Pages: ");
    Console.Write(numPages);
    var currentPage = ViewBag.Id;
}

<div class="text-center">
    <h1 class="display-4">Blog Posts</h1>
</div>
<ul>
    @if (postList.Length >= 1)
    {
        var firstPost = postList[0];

        <div class="col-md-9">
            <h2>@Html.ActionLink(firstPost.Title, "Posts", new { id = firstPost.Slug })</h2>
            <p>ID: @firstPost.Sys.Id</p>
            <p>@firstPost.Sys.CreatedAt.Value.ToString("MMMM dd, yyyy")</p>
            <contentful-rich-text document="@firstPost.Body"></contentful-rich-text>
        </div>

        var postIdx = 1;
        var numColumns = 3;

        @for (int numRows = 1; numRows <= 3; numRows++)
        {
            <div class="row">
                @for (int i = postIdx; i < postIdx + numColumns; i++)
                {
                    <div class="col-md-3">
                        @if (i < postList.Length)
                        {
                            var currentPost = postList[i];
                            <h2>@Html.ActionLink(currentPost.Title, "Posts", new { id = currentPost.Slug })</h2>
                            <p>ID: @currentPost.Sys.Id</p>
                            <p>@currentPost.Sys.CreatedAt.Value.ToString("MMMM dd, yyyy")</p>
                            <contentful-rich-text document="@currentPost.Body"></contentful-rich-text>
                        }
                    </div>
                }
            </div>
            postIdx += numColumns;
        }
    } else 
    {
        <p>No entries here</p>
    }
    </div>
</ul>
@if (currentPage > 0 && currentPage <= numPages) // current page within bounds
{
    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center col-md-9">
        @{
            int pagesAroundCurrent = 2;
        }

        @if (currentPage - pagesAroundCurrent > 1)
        {
            <li class="page-item">
                <a class="page-link" href="/home/index/1">1</a>
            </li>
        }

        @if (currentPage - pagesAroundCurrent > 2) // there is space between 1 and currentPage - pagesAroundCurrent
        {
            <li>
                <p>...</p>
            </li>
        }

        @for (int i = pagesAroundCurrent; i > 0; i--) // pages left of current page
        {
            int pageNumber = currentPage - i;
            if (pageNumber > 0)
            {
                <li class="page-item">
                    <a class="page-link" href="/home/index/@pageNumber">@pageNumber</a>
                </li>
            }
        }

        @* current page *@
        <li class="page-item">
            <a class="page-link" href="/home/index/@currentPage">@currentPage</a>
        </li>

        @for (int i = 1; i <= pagesAroundCurrent; i++) // pages right of current page
        {
            int pageNumber = currentPage + i;
            if (pageNumber <= numPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/home/index/@pageNumber">@pageNumber</a>
                </li>
            }
        }

        @if (currentPage + pagesAroundCurrent < numPages - 1) // if there is space between last page and currentPage + pagesAroundCurrent
        {
            <li>
                <p>...</p>
            </li>
        }

        @if (currentPage + pagesAroundCurrent < numPages)
        {
            <li class="page-item">
                <a class="page-link" href="/home/index/@numPages">@numPages</a>
            </li>
        }

    </ul>
    </nav>
}