@using Contentful.Core.Models;

@model ContentfulCollection<BlogPost>;

@{
    ViewData["Title"] = "Home Page";
    var postList = Model.Items.ToArray();
}

<div class="text-center">
    <h1 class="display-4">Blog Posts</h1>
</div>
<ul>
    @if (postList.Length >= 1)
    {
        <div class="col-md-12">
            <h2>@postList[0].Title</h2>
            <p>ID: @postList[0].Sys.Id</p>
            <p>@postList[0].Sys.CreatedAt.Value.ToString("MMMM dd, yyyy")</p>
            <contentful-rich-text document="@postList[0].Body"></contentful-rich-text>
        </div>

        var postIdx = 1;
        var numColumns = 3;

        @for (int numRows = 1; numRows <= 3; numRows++)
        {
            <div class="row">
                @for (int i = postIdx; i < postIdx + numColumns; i++)
                {
                    <div class="col-md-4">
                        @if (i < postList.Length)
                        {
                            <h2>@postList[i].Title</h2>
                            <p>ID: @postList[i].Sys.Id</p>
                            <p>@postList[i].Sys.CreatedAt.Value.ToString("MMMM dd, yyyy")</p>
                            <contentful-rich-text document="@postList[i].Body"></contentful-rich-text>
                        }
                    </div>
                }
            </div>
            postIdx += numColumns;
        }
    } else 
    {
        <p>No entries here</p>
    }
    </div>
</ul>
